<!DOCTYPE html>
<html>
  <head>
    <title data-inertia><%= content_for(:title) || "Rails React Inertia Boilerplate" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <%= vite_stylesheet_tag "assets/application.css" %>
    <%= vite_react_refresh_tag %>
    <%= vite_client_tag %>
    <%= vite_javascript_tag "inertia.jsx" %>
    <%= inertia_ssr_head %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
